
body{
    height: 100vh;
    background-image: linear-gradient(rgb(255,255,255),rgb(221, 97, 97) );


}
.logo{
    display: block;
    margin: auto;
    height: 100px;
    width: 110px;
    opacity: 100%;
}
h1{
    margin-top: 7px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-family: fantasy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 1px;
    color: rgb(231, 96, 96);
    font-weight: bold;
    text-decoration-color: orangered;
}
.container{
    max-width: 1000px;
    border: 2px solid rgb(231, 90, 90);
    margin: auto;
    height: 60vh;
    overflow-y: auto;
    margin-bottom: 10px;
    border-radius: 14px;
}
.message{
    
    width: 25%;
    padding: 10px;
    margin: 15px 16px;
    border-radius: 10px;
    border: 2px solid salmon;
    font-family: cursive;
}
.right{
    float: right;
    clear: both;

}
.left{
    float: left;
    clear: both;

}
#send-chat{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1033px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#chat{
    width: 85%;
    /* border-radius: 34px; */
    height: 34px;
    font-size: 22px;
    font-family: cursive;
    padding-left: 12px;
    /* border: 2px solid rgb(171, 238, 104); */
    border-style: none;
}
.btn{
    width: 9%;
    cursor: pointer;
    border: 2px solid rgb(19, 18, 18);
    /* border-radius: 16px; */
    height: 34px;
    margin-left: 3px;
    font-size: 17px;
    background-color: rgb(245, 114, 114);
    color: white;
    text-decoration: none;
}
.btn:hover{
    color: cornflowerblue;
    font-weight: bold;
    background-color: #fff;
}
